<div class="container box-container mt-5">
  <div>
    <h1>Stupid Coaching</h1>
     <h1> <%= @your_message %> </h1>
   </div>
</div>
<div class="container box-container mt-5">

<div class="answer">
      <h2> <%= @coach_answer %></h2>
   </div>
</div>
