<div class="container box-container mt-5">
  <h1>Stupid Coaching</h1>
  <p>Ask your coaching anything:</p>
    <form class="form-inline" action="/answer">
      <input class="form-control mr-2 w-80" type="text" placeholder="Digite sua pergunta" name="ask">
      <input class="btn btn-primary" type="submit" value="Ask!">
    </form>

</div>
